import React from 'react';
import { observer, inject } from 'mobx-react';
import { Button } from 'antd';
import '<%= stylePath%>';
import { delay } from '../utils/helper';

@inject('model<%= modelName%>')
@observer
class <%= modelName%>Page extends React.Component {
  constructor(props) {
    super();
    this.store = props.model<%= modelName%>;
  }

  static getInitialProps = async ctx => {
    // console.log(ctx);
    ctx.currentModelName = 'model<%= modelName%>';
    await delay(1);
    return { demo: 222 };
  };

  render() {
    const { } = this.store;
    return (
       <div className="<%= pageStylePrefix%>">
         <%= modelName%>Page
       </div>
    );
  }
}

export default <%= modelName%>Page;
